.line {
    width: 1150px
}

.add-user-details-container1,
.add-user-details-container2 {
    width: 825px;
    margin: 15px;
    margin-bottom: 35px;
    background-color: #ffffff;
    border: 1px solid #d8cfcf;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
}

.add-user-details-container1 {
    min-height: 400px;
}

.add-user-details-container2 {
    min-height: 301px;
}

.custom-toggle .form-check-input {
    width: 36px;
    height: 20px;
}

.custom-toggle .form-check-input:checked {
    background-color: #007bff;
}

.create-user-container {
    display: grid;
    place-items: center;
}

.text-start {
    text-align: start;
}

.account-settings {
    text-align: start !important;
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 450;

}




.bold-underline {
    text-decoration: underline;
    color: #F04438;
    font-weight: bold;
}

.user-profile-change-btn {
    background-color: #1DA2EF;
    color: #ffff;
}

.user-profile-change-btn:hover {
    background-color: #1DA2EF;
    color: #ffff;
}

.file-label {
    display: grid;
    place-items: center;
    width: 765px;
    height: 150px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;

}

.file-label>input {
    display: none;
}

.file-label>.upload-text {
    color: #475467;
    display: flex;
    flex-direction: column;
}

.file-label>.upload-text>p:first-child {
    margin-left: 10px;
}

.file-label>.upload-text>p>span {
    color: #1782BF;
}

label {
    font-Weight: 500;
    Size: 14px;
    line-height: 20px;
    color: #344054;
}







/* modules */


.module-body {
    display: flex;
}

.module-box {
    margin: 10px;
    max-width: 402px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
    min-height: 213px;
}

.module-box-container1,
.module-box-container2 {
    display: flex;
    justify-content: space-between;
}

.module-box-data {
    padding: 20px;

}

.text-arrow-icon {
    display: flex;
    justify-content: space-between;

}

.text-icon-box {
    padding: 20px;
}

.hr-line {
    margin-top: 50px;
}

.module-toggle {
    display: flex;
    justify-content: space-between;
}


/* add-user */

.user-box-data {
    display: flex;

}

.text-box {
    font-size: 20px;
    font-weight: 500;
}

.user-small-header {
    margin: 20px;
}

.image-btn-box {
    display: flex;
}

.image-container>img {
    width: 90px;
    height: 90px;
}

.btn-text-box {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.btn-text-box>span {
    margin-left: 10px;
    margin-top: 5px;
}
.input-container{
    display: flex;
}